.title {
 font-family: Roboto;
}

.wrapper {
  width: 80%;
  margin:auto;
}


.menu {
  display: flex;
  align-items: center;
}

.header {
  display:flex;
  justify-content: space-between;
}


.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
}

.menu__item-text:hover {
  opacity: 0.5;
}


.menu__item::after {
  position:absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  transition: width .5s;
}


.menu__item:hover:after {
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0;
}

.logo {
  display: flex;
  padding: 40px 0;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.logo__img {
  position: relative;
  width: 40px;
}

.logo__circle {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color-light {
  left: 8px;
  top: 7px;
  background: #C8DBFB;
}

.logo__circle_color-dark{
  background: #0056EC;
}
