.title {
 font-family: Roboto;
}

.wrapper {
  margin: 0 4%;
}

#menu__toggle {
  opacity: 0;
}



/* Menu */
.header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 93px;
}

.menu {
  display: flex;
  align-items: center;
  padding: 22px 0;
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
}

.menu__item {
  position: relative;
  margin-left: 26px;
  color: #000000;
  text-decoration: none;
}

.menu__item-text:hover {
  opacity: 0.5;
}

.menu__item::after {
  position:absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  transition: width .5s;
}

.menu__item:hover:after {
  width: 100%;
}

/* Logo */
.logo {
  display: flex;
  padding: 31px 0;
  font: 700 24px/32px pt_serifregular, arial, helvetica, sans-serif;
  letter-spacing: 1px;
}

.logo__img {
  position: relative;
  width: 40px;
}

.logo__circle {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color-light {
  left: 8px;
  top: 7px;
  background: #C8DBFB;
}

.logo__circle_color-dark{
  background: #0056EC;
}

/* Main content  */
.main {
  margin: auto;
  padding: 0 50% 300px 0;
  background: top right no-repeat url(pics/main.svg);
  background-size: 54%;
}

.main__title {
  padding-top: 20px;
  margin-bottom: 33px;
  font: bold 50px/66px pt_serifregular, arial, helvetica, sans-serif;
  letter-spacing: 2px;
}

.main__title-text_highlight {
  background: #ecf3ff;
  background-size: 20px 0px;
}

.main__subtitle {
  margin: auto 80px 42px auto;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  text-align: center;
  font: 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  width: 169px;
  height: 17px;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

/* Mobile version */
@media (max-width: 900px) {

  .logo__text {
    display: none;
    }

  .logo {
    padding-top: 17px;
  }

  .menu {
    display: none;
  }

  .header {
    margin: 0;
  }

 .main {
   text-align: center;
   width: 100%;
   padding: 78% 0 0;
   background-size: 84%;
   background-position: top 30px center;
 }

 .main__title {
   text-align: center;
   margin: 28px 0 43px auto;
   font-size: 30px;
   line-height: 40px;
   letter-spacing: 1px;
 }

 .main__subtitle {
   height: 12%;
   width: 73%;
   text-align: center;
   font-size: 16px;
   line-height: 19px;
   margin: 0 0 25px 10%;
   padding: 0 15px;
   letter-spacing: 0px;
 }


/* Mobile hamburger */
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 28px;
  right: 7%;
  width: 25px;
  height: 17px;
  cursor: pointer;
  z-index: 1;
}

/* Отрисовка полосок бургера */
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0056EC;
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -7px;
}

.menu__btn > span::after {
  content: '';
  top: 7px;
}

/* Отрисовка крестика вместо бургера */
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu {
  left: 0;
}


/* Отображение содержимого меню */
.menu {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #fff;
  transition-duration: .25s;
}

.menu__item {
  display: block;
  text-align: center;
  padding: 20px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  transition-duration: .25s;
}

/* Изменнение текста при наведении */
.menu__item:hover {
  background-color: #CFD8DC;
}

.menu__item:hover:after {
  width: 0;
}
}


@media (min-width: 1150px) and (max-width: 1600px) {
  .wrapper {
    margin: 0 15% 0 15%;
  }

  .menu {
    padding-right: 10px;
  }

  .main__title {
    margin-bottom: 34px;
    font: bold 50px/66px;
    width: 560px;
  }

  .main__subtitle {
    width: 380px;
    margin-left: 0;
    letter-spacing: 0px;
  }

 .logo__text {
   font-size: 24px;
   line-height: 32px;
   letter-spacing: 1px;
   }
}

@media (min-width: 1600px) {
  .wrapper {
    margin: 0 10% 0 10%;
  }

  .header {
    margin-bottom: 135px;
  }

  .main {
    padding-top: 8px;
    background-size: 50%;
  }

  .menu {
    padding-top: 18px;
    font-size: 18px;
    line-height: 21px;
    padding-right: 9px;
  }

  .main__title {
    letter-spacing: 2px;
    margin-bottom: 33px;
    font-size: 66px;
    line-height: 87px;
    width: 560px;
  }

  .main__subtitle {
    font-size: 22px;
    line-height: 26px;
    width: 450px;
    margin-left: 0;
  }


 .logo__text {
   font-size: 24px;
   line-height: 32px;
   letter-spacing: 1px;
  }

  .main__button {
     font-size: 18px;
     line-height: 21px;
     width: 250px;
     height: 29px;
     padding: 18px 10px 14px 10px;
   }
}


/* Animation */


.snow1{
   background-image: url(pics/snow1.png);
   position:absolute;
   width: 100%;
    height:600px;
    animation: snow1 18s linear infinite;
}

.snow2{
    background-image: url(pics/snow2.png),url(pics/snow3.png);
    animation: snow2 10s linear infinite;
    width: 100%;
    height:100%;
    position:absolute;
}

@keyframes snow2{
    0%{background-position: 0 0, 0 0;}
    100%{background-position: 10% 100%, 10% 100%;}
}

@keyframes snow1{
    from{background-position: 0 -300px;}
    20% {background-position: 20% -100px;}
    40% {background-position: 30% 100px;}
    to{background-position: 20% 700px;}
}
