.title {
 font-family: Roboto;
}

.wrapper {
  width: 80%;
  margin:auto;
}


.menu {
  display: flex;
  align-items: center;
}

.header {
  display:flex;
  justify-content: space-between;
}


.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item::after {
  position:absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 1;
  transition: width .5s;
}


.menu__item:hover:after {
  position:absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 1;
  transition: width .5s;
}

.menu__item:last-child {
  margin-right: 0;
}



.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  //margin: 0 30px;
//  top: 50%;
//  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color-light {
  left: 8px;
  transform: translateY(20%);
//  top: 40%;
  background: #C8DBFB;
}

.logo__circle_color-dark{
  background: #0056EC;

}
