.title {
 font-family: Roboto;
}

.wrapper {
  width: 80%;
  margin: auto;
}

#menu__toggle {
  opacity: 0;
}

/* Menu */

.menu {
  display: flex;
  align-items: center;
  padding: 30px;
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
}

.header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 100px;
}


.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
}

.menu__item-text:hover {
  opacity: 0.5;
}

.menu__item::after {
  position:absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  transition: width .5s;
}

.menu__item:hover:after {
  width: 100%;
}



/* Logo */

.logo {
  display: flex;
  padding: 28px 0;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.logo__img {
  position: relative;
  width: 40px;
}

.logo__circle {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color-light {
  left: 8px;
  top: 7px;
  background: #C8DBFB;
}

.logo__circle_color-dark{
  background: #0056EC;
}

/* Main content  */

.main {
  padding: 0 50% 300px 0;
  background: top right no-repeat url(main.svg);
  background-size: 50%;
}

.main__title {
  margin-bottom: 25px;
  font: bold 50px/65px pt_serif, arial, helvetica, sans-serif;
  width: 90%;

}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__subtitle {
  margin-bottom: 25px;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
  width: 90%;
}

.main__button {
  display: inline-block;
  text-align: center;
  font: 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  width: 209px;
  padding: 14px 25px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

/* Mobile version */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .header {
    margin-bottom: 28px;
  }

 .main {
   text-align: center;
   width: 100%;
   padding: 74% 0 0;
   background-size: 90%;
   background-position: top center;
 }

 .main__title {
   text-align: center;
   margin-bottom: 30px;
   font-size: 30px/39px;
 }

 .main__subtitle {
   text-align: center;
   font-size: 16px/19px;
 }

.logo__text {
  display: none;
  }

/* Mobile hamburger */
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 32px;
  right: 15%;
  width: 25px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

/* Отрисовка полосок бургера */
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0056EC;
  transition-duration: .25s;


}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* Отрисовка крестика вместо бургера */
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu {

  left: 0;
}


/* Отображение содержимого меню */
.menu {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;
  background-color: #fff;
  transition-duration: .25s;
}

.menu__item {
  display: block;
  text-align: center;
  padding: 20px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 500;

  text-decoration: none;
  transition-duration: .25s;
}

/* Изменнение текста при наведении */
.menu__item:hover {
  background-color: #CFD8DC;
}

.menu__item:hover:after {
  width: 0;
}

}

@media (min-width: 769px) {
  .wrapper {
    margin: 0 60px;
  }

  .main__subtitle {
    width: 100%;
  }

  .main__title {
    width: 100%;
  }


  .menu {
    position: fixed;
    right: 30px;
    top: 10px;
  }
}

@media (min-width: 1350px) {
  .wrapper {
    margin-left: 195px;
  }

  .menu {
    right: 100px;
    font: 500 18px/21px pt_serif, arial, helvetica, sans-serif;
  }

  .main__title {
    margin-bottom: 44px;
    font: bold 66px/87px pt_serif, arial, helvetica, sans-serif;
    width: 560px;
  }

  .main__subtitle {
    font: 500 22px/26px Roboto, arial, helvetica, sans-serif;
    width: 455px;
  }

  .main__button {
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    width: 270px;
  }

 .logo__text {
   font-size: 24px;
   }
}


/* Animation

.snowflake {
  width: 5px;
  height: 5px;
  background: blue;
  border-radius: 50%;
  position: absolute;
  animation: snowfall 8s linear infinite;
}

@keyframes snowfall {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 110vh, 0);
  }
}
*/
