.title {
 font-family: Roboto;
}

.wrapper {
  width: 80%;
  margin:auto;
}

/* Menu */

.menu {
  display: flex;
  align-items: center;
}

.header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 100px;
}


.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
}

.menu__item-text:hover {
  opacity: 0.5;
}

.menu__item::after {
  position:absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  transition: width .5s;
}

.menu__item:hover:after {
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0;
}


/* Logo */

.logo {
  display: flex;
  padding: 40px 0;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.logo__img {
  position: relative;
  width: 40px;
}

.logo__circle {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color-light {
  left: 8px;
  top: 7px;
  background: #C8DBFB;
}

.logo__circle_color-dark{
  background: #0056EC;
}

/* Main content  */

.main {
  padding: 0 63% 100px 0;
  background: top right no-repeat url(main.svg);
}

.main__title {
  margin-bottom: 40px;
  font: bold 50px/65px pt_serif, arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__subtitle {
  margin-bottom: 41px;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

/* Mobile version */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .header {
    margin-bottom: 28px;
  }

 .main {
   text-align: center;
   padding: 74% 0 0;
   background-size: 74%;
   background-position: top center;
 }

 .main__title {
   margin-bottom: 44px;
   font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
 }

 .main__subtitle {
   margin-bottom: 25px;
   font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
 }

 .main__button {
   font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
 }

}
