.title {
 font-family: Roboto;
}

.wrapper {
  width: 80%;
  margin:auto;
}

.logo {
  margin-right: 63%;
  padding: 40px 0;
}

.menu {
  display: flex;
  align-items: center;
}

.header {
  display:flex;
  justify-content: space-between;
}

.menu__item {
  padding: 0 13px;
}

.menu__item:last-child {
  padding-right: 0;
}
