.title {
 font-family: Roboto;
}

.wrapper {
  width: 80%;
  margin:auto;
}

.logo {
  position: relative;
  margin-right: 63%;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.menu {
  display: flex;
  align-items: center;
}

.header {
  display:flex;
  justify-content: space-between;
}

.menu__item {
  padding: 0 13px;
}

.menu__item:last-child {
  padding-right: 0;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
  opacity: .7;
}
